@import "~@fluentui/react/dist/sass/_References.scss";

.root {
  width: 100%;
  height: 120px;
  .header {
    display: flex;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    height: 60px;
    justify-content: space-between;
    border-bottom: 1px solid #bdbdbd;
    .logo {
      width: 150px;
    }
    .headerMenus {
      display: flex;
      .menu {
        padding: 2px;
      }
    }
  }
}
